<ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
    <li nz-submenu nzTitle="Produtos" nzIcon="code-sandbox">
        <ul>
            <li nz-menu-item nzMatchRouter [nzMatchRouterExact]="true">
                <a routerLink="/produtos">Consulta</a>
            </li>
            <li nz-menu-item nzMatchRouter [nzMatchRouterExact]="true">
                <a routerLink="/produtos/cad-produto">Novo</a>
            </li>
        </ul>
    </li>
    <li nz-submenu nzTitle="Grupos" nzIcon="group">
        <ul>
            <li nz-menu-item nzMatchRouter [nzMatchRouterExact]="true">
                <a routerLink="/grupos">Consulta</a>
            </li>
            <li nz-menu-item nzMatchRouter [nzMatchRouterExact]="true">
                <a routerLink="/grupos/cad-grupo">Novo</a>
            </li>
        </ul>
    </li>
    <li nz-submenu nzOpen nzTitle="Usuários" nzIcon="user">
        <ul>
            <li nz-menu-item nzMatchRouter [nzMatchRouterExact]="true">
                <a routerLink="/usuarios">Consulta</a>
            </li>
            <li nz-menu-item nzMatchRouter [nzMatchRouterExact]="true">
                <a routerLink="/usuarios/cad-usuario">Novo usuários</a>
            </li>
        </ul>
    </li>
</ul>