:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  //height: 100vh;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  background: #001529;
}

.header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
  //color: #fff;
}

.trigger:hover {
  color: #1890ff;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #001529;
  transition: all 0.3s;
}

.sidebar-logo img {
  display: inline-block;
  height: auto;
  width: 100px;
  vertical-align: middle;
}

.small {
  width: 40px !important;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

ul {
  font-weight: 600;
}

.app-header {
  position: relative;
  height: 64px;
  padding: 0;
  background: #fff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
}

.inner-content {
  background: #fff;
  height: 100%;
}

.inner-content.margin {
  margin: 16px;
}

.profile {
  margin-right: 16px;
  position: absolute;
  top: 12px;
  right: 2px;

  ::ng-deep span {
    font-size: 14px;
  }

  nz-avatar {
    margin-right: 6px;
    background-color: var(--color-primary);
  }
}

.app-container {
  overflow: overlay;
}

