.login-container {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: #ffffff;
    background-image: url('../../../../assets/fundo.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

    .inner-container {
        display: flex;
        flex-direction: column;
        padding: 50px;
        // border: 1px solid #0095d8;
        border-radius: 15px;
        min-height: 450px;
        width: 400px;
        position: relative;
        background-color: #8b8b8cd9;

        .logo-container {
            width: 100%;
            text-align: center;

            img {
                width: 196px;
                height: 74px;
                margin-bottom: 50px;
                margin-top: 25px;
            }
        }
    }

    .login-button {
        background-color: #0095d8;
        color: #fff;
        font-weight: 600;
        margin-top: 16px;
    }

    .login-button:hover,
    .login-button:focus {
        border-color: #fff;
    }
}

::ng-deep .ant-form-item-explain.ant-form-item-explain-error {
    color: #fff;
    font-weight: 600;
}