/* You can add global styles to this file, and also import other style files */
:root {
    --color-primary: #0095d8;
    --box-shadow-base: 0 2px 3px 0 rgba(0, 0, 0, .16);
}

nz-content {
    padding-left: 24px;
    padding-right: 24px;
    height: calc(100% - 70px);
    overflow-y: auto;
}

[nz-button] {
    margin-right: 8px;
    margin-bottom: 8px;
}

.padding_form{
    padding-left: 16px;
    padding-right: 16px;
}